<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:application-${spring.profiles.active}.properties"/>
	<!-- 扫描service自动注入为bean -->
	<context:component-scan base-package="org.bear.bookstore.service.impl,org.bear.bookstore.dao,org.bear.bookstore.quartz" />
	
	<!-- 
		激活自动代理功能Enables the use of the @AspectJ style of Spring AOP
		注册的是AnnotationAwareAspectJAutoProxyCreator
	-->
	<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true">
		<aop:include name=".*"/>
	</aop:aspectj-autoproxy>
	<!-- <context:load-time-weaver aspectj-weaving="on"
		weaver-class="org.springframework.instrument.classloading.tomcat.TomcatLoadTimeWeaver"/> -->
	<!-- <context:load-time-weaver aspectj-weaving="autodetect"/> -->
	
	<bean id="proxyReferecetAwareProcessor" class="org.bear.bookstore.common.aware.ProxyReferecetAwareProcessor"></bean>
	
	<!-- 
		http请求权限拦截
		request.isUserInRole(String role);
	 -->
	<!-- <bean id="authorizationInterceptor"
	        class="org.springframework.web.servlet.handler.UserRoleAuthorizationInterceptor">
	    <property name="authorizedRoles" value="administrator,zh"/>
	</bean> -->
	
	<import resource="hessian-server.xml"/>
	<import resource="httpproxy-server.xml"/>
	<!-- <import resource="jms-server.xml"/> -->
	<!-- <import resource="rmi-server.xml"/> -->
	<import resource="webservice-server.xml"/>
	<import resource="spring-editor.xml"/>
</beans>