<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	
	<bean id="myValueCalculator" class="org.bear.bookstore.test.methodreplace.MyValueCalculator">
	    <!-- arbitrary method replacement -->
	    <replaced-method name="computeValue" replacer="replacementComputeValue">
	        <arg-type>String</arg-type>
	        <arg-type>Str</arg-type>
	    </replaced-method>
	    <replaced-method name="computeValue1" replacer="replacementComputeValue">
	        <arg-type>String</arg-type>
	        <arg-type>Str</arg-type>
	    </replaced-method>
	    <replaced-method name="computeValue3" replacer="replacementComputeValue">
	        <arg-type>String</arg-type>
	        <arg-type>Str</arg-type>
	    </replaced-method>
	</bean>
	
	<bean id="replacementComputeValue" class="org.bear.bookstore.test.methodreplace.ReplacementComputeValue"/>
</beans>