<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/cache 
     	http://www.springframework.org/schema/cache/spring-cache-4.2.xsd">
   	<context:component-scan base-package="org.bear.bookstore.test.cache"></context:component-scan>
   	<!-- 开区缓存注解驱动 -->
	<cache:annotation-driven />
	<!-- generic cache manager -->
	<!-- <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="default" />
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="customCache" />
			</set>
		</property>
	</bean>  -->

	<!-- generic cache manager -->
	<bean id="simpleCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="default" />
				<!-- <bean
					class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"
					p:name="customCache" /> -->
			</set>
		</property>
	</bean>

	<!-- dummy cacheManager -->
	<bean id="cacheManager" class="org.springframework.cache.support.CompositeCacheManager">
		<property name="cacheManagers">
			<list>
				<ref bean="simpleCacheManager" />
			</list>
		</property>
		<!-- 
			CustomService需要customCache缓存，但是没有找到，如果fallbackToNoOpCache为false则会抛出异常 
		-->
		<property name="fallbackToNoOpCache" value="false" />
		<!-- <property name="fallbackToNoOpCache" value="true" /> -->
	</bean> 
</beans>